@model  IEnumerable<PRP_Demo.Models.ApplicationUser>
@{
    ViewBag.Title = "ListOfUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Users</h2>

<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.FullName, "UserProfile", "Account", new { id = user.Id }, null)</td>
                @*<td>@user.FullName</td>*@
                <td>@user.Email</td>
                <td>@user.Gender.Name</td>
                <td>@user.DateOfBirth.ToString("dd/MM/yyyy")</td>
            </tr>
        }

    </tbody>
</table>